
.container {
    position: relative;
    width: 60vw;
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* .content_bg { */
    /* z-index: -1; */
    /* position: absolute; */
    /* width: 400px; */
    /* height: 200px; */
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* justify-content: center; */
/* } */
    
.title {
    position: relative;
    width: 60vw;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    text-wrap: wrap;
}

.content_a {
    position: relative;
    width: 60vw;
    height: 50vh;
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;   
}

.content_b {
    position: relative;
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;   
}

.content-img {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: flex-start;
    justify-content: center;
}

.description {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: flex-start;
    justify-content: center;
}

@media (max-width: 1536px) {
    .container {
        width: 1366px;
    }
}

@media (max-width: 1366px) {
    .container {
        width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
        padding-left: 0px;
        padding-right: 0px;  
    }
}

@media (max-width: 768px) {
    .container {
        width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 475px;
    }
}