.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    margin-left: 20px;
} 

.button {
    display: inline-block;
    border-radius: 7px;
    background-color: var(--bg);
    border: none;
    color: greenyellow;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 1px;
    margin-left: 20px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


.logout{
    color: white;
    background-color: crimson;
    cursor: pointer;
    font-weight: bold;
    width: 80px;
    padding: 10px;
    border-radius: 10px;
}

.menuButton,
.mobileLinks {
    display: none;
}

@media (max-width: 768px) {
.links {
    display: none;
}

.menuButton {
    background-color: var(--bg);
    border-left: 2px;
    border-right: 2px;
    border-inline: 2px;
    border-color: black;
    border-width: 5px;
    border-style: fab-bezier-curve;
    color: transparent;
    display: block;
    cursor: pointer;
}

.mobileLinks {
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: var(--bg);
    opacity: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1px;
    cursor: pointer;
    
}
}