:root{
    --bg: teal;
    --bdSoft: beige;
    --text: white;
    --textSoft: #e5e5e5;
    --btn: #3673fd;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    position: relative;
    background: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.container {
    position: relative;
    width: 60vw;
    max-width: 60vw;
    height: 90vh;
    min-width:60vw;
    min-height: 800px;
    display: inline;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 40px;
    padding-left: 40px;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
}
    
.content {
    position: relative;
    width: 60vw;
    height: 90vh;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: flex-end;   
}

.content-bg {
    z-index: -1;
    position: relative;
    width: 15px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    align-items: right;
    justify-content: center;
}

.content-img {
    position: absolute;
    width: 30vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: left;
    justify-content: space-evenly;
}

.description {
    position: relative;
    width: 30vw;
    height: 75vh;
    /* max-width: 30vw; */
    /* max-height: 75vh; */
    display: flex;
    flex-direction: column;
    margin-top: 210px;
    margin-right: 490px;
    margin-bottom: 220px;
    align-items: center;
    justify-content: center;
    font-size: 23pt;
    text-align: center;
    gap: 2%;
}

@media (max-width: 1536px) {
    .container {
        width: 1366px;
    }
}

@media (max-width: 1366px) {
    .container {
        width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
        padding-left: 0px;
        padding-right: 0px;  
    }
}

@media (max-width: 768px) {
    .container {
        width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 475px;
    }
}

.first_button {

}

.first_button {
    animation: shake 1.8s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    
    position: relative;
    background-color: #FFE589;
    color: #130129;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    width: 230px;
    margin-top: 30px;
    margin-bottom: 180px;
    font-size: 14pt;
    font-weight: medium;
    align-items: center;
    justify-content: flex-end;
  }
  
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }