:root{
    --bg: teal;
    --bdSoft: beige;
    --text: white;
    --textSoft: #e5e5e5;
    --btn: #3673fd;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    position: relative;
    background: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.container {
    position: relative;
    width: 60vw;
    max-width: 60vw;
    height: 90vh;
    min-width:1024px;
    min-height: 800px;
    display: inline;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 40px;
    padding-left: 40px;
    align-items: center;
    justify-content: flex-start;
    gap: 1px;
}
    
.content {
    position: relative;
    width: 60vw;
    height: 90vh;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: flex-end;   
}

.content-bg {
    z-index: -1;
    position: relative;
    width: 15px;
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
    align-items: right;
    justify-content: center;
}

.content-img {
    position: absolute;
    width: 30vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: left;
    justify-content: center;
}

.description {
    position: relative;
    width: 30vw;
    height: 75vh;
    /* max-width: 30vw; */
    /* max-height: 75vh; */
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 450px;
    margin-bottom: 230px;
    align-items: flex-start;
    justify-content: center;
    font-size: 30pt;
    text-align: center;
}

@media (max-width: 1536px) {
    .container {
        width: 1366px;
    }
}

@media (max-width: 1366px) {
    .container {
        width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
        padding-left: 0px;
        padding-right: 0px;  
    }
}

@media (max-width: 768px) {
    .container {
        width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 475px;
    }
}