:root{
    --bg: white;
    --bdSoft: beige;
    --text: black;
    --textSoft: #e5e5e5;
    --btn: #3673fd;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    position: relative;
    background: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.container {
    position: relative;
    width: 100vw;
    height: 83vh;
    min-width: 30vw;
    min-height: 800px;
    display: inline;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
}

.content-bg {
    background-color: var(--bg);
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
    
.content {
    position: relative;
    width: 100vw;
    height: 83vh;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-around;   
    gap: 20px;
}

.content-img {
    position: relative;
    width: 30vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 25vw;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.description {
    z-index: 0;
    position: relative;
    width: 30vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin-top: 210px;
    margin-right: 25vw;
    margin-bottom: 220px;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    text-align: center;
    text-wrap: wrap;
    gap: 1%;
}



/* w1 */
@media (max-width: 1366px) {
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: auto;

    }
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

}



/* w2 */
@media (max-width: 1024px) {
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: auto;
    }
        
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

}

/* w3 */
@media (max-width: 768px) {
    .container {
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: auto;
    }
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 5%;
    }


    .content-img {
        position: relative;
        width: 100vw;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .description {
        z-index: 0;
        position: relative;
        width: 100vw;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 23pt;
        text-align: center;
        text-wrap: wrap;
        gap: 2%;
    }
    
    .content-img {
        position: absolute;
        width: 425px;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 30vh;
        margin-left: 10px;
        margin-right: 10px;
        
    }
    
    .description {
        z-index: 0;
        position: absolute;
        width: 100vw;
        height: 20vh;
        margin: 10px;
        display: block;
        align-items: center;
        justify-content: flex-start;
        font-size: 23pt;
        text-align: center;
        text-wrap: wrap;
        gap: 2%;
    }
    
    

}

/* w4 */
@media (max-width: 640px) {
    .container {
        width: 640px;
        min-width: 425px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: auto;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }


    .content-img {
        position: absolute;
        width: 425px;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 35vh;
        margin-left: 10px;
        margin-right: 10px;
        
    }
    
    .description {
        z-index: 0;
        position: absolute;
        width: 100vw;
        height: 20vh;
        margin: 10px;
        display: block;
        align-items: center;
        justify-content: flex-start;
        font-size: 23pt;
        text-align: center;
        text-wrap: wrap;
        gap: 2%;
    }
    
    

}





.first_button {
    animation: shake 1.8s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    
    position: relative;
    background-color: #FFE589;
    color: #130129;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    width: 260px;
    margin-top: 30px;
    margin-bottom: 180px;
    font-size: 16pt;
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
  }
  
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }