.container {
    position: relative;
    background-color: var(--bg);
    width: 60vw;
    height: 50px;
    min-width: 60vw;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    ;
}
