.container {
    z-index: 1;
    background-color: teal;
    min-width: 60vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    align-items: flex-start;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    margin-right: 1px;
    gap: 0;
    
}
