.container {
    position: relative;
    background-color: var(--bg);
    width: 100vw;
    height: 60px;
    max-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.logo {

    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
