.container{
    height: 40px;
    min-width: 90px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500pt;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.active{
    background-color: var(--text);
    color: var(--bg);
    font-weight: 500;
}