.footer {
    font-size: small;
    width: 60vw;
    max-width: 60vw;
    height: 50px;
    max-height: 100px;
    display: flex;
    margin-bottom: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
}

@media (max-width: 1024px) {
    .footer {
        gap: 10px;
    }
}