.footer {
    font-size: small;
    width: 100vw;
    height: 50px;
    max-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 2%;
}

@media (max-width: 1024px) {
    .footer {
        gap: 10px;
    }
}