.footer {
    position: relative;
    width: 60vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: wrap;
    gap: 20px;
    font-size: 8pt;
}

@media (max-width: 1024px) {
    .footer {
    
    }
}